@mixin current-category() {
  .fa-rounded {
    border-color: $gray;
    color: $gray;
  }
  .l-title,
  .l-description {
    color: $gray;
  }
  .button {
    @include button-style($gray);
  }
}

.m-categories {
  padding: rem-calc(40 0);
  text-align: center;
}

.m-category {
  .fa-rounded {
    font-size: rem-calc(20);
    padding: rem-calc(15);
    border: 3px solid $secondary-color;
    @include radius($global-rounded);
  }
}

.horaires #hour {
  @include current-category();
}

.tickets #ticket {
  @include current-category();
}

.shop #shop {
  @include current-category();
}

.agenda #diary {
  @include current-category();
}
