.m-categories {
  padding: rem-calc(40 0);
}

.m-category {
  .fa {
    font-size: rem-calc(20);
    padding: rem-calc(15);
    border: 3px solid $secondary-color;
    @include radius($global-rounded);
  }
}
