.m-feature-box {
  margin-bottom: rem-calc(20);

  .contrasted {
    text-align: center;
    margin-top: rem-calc(150);
  }

  &.l-large {
    background: image-url("louvre-lens-parc.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: $black-light;
    @media #{$small-up} {
      min-height: rem-calc(400);
    }
  }
  .l-medium {}
  .l-small {}
}
