$black: #262626;

$red: #D0483E;



// We use these as default colors throughout
$primary-color: $red;
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;
