$white: #FFFFFF;
$black: #262626;
$black-light: #3D343F;

$gray: #DDDDDD;

$red: #D0483E;
$green: #48AF75;


// We use these as default colors throughout
$primary-color: $red;
$secondary-color: $green;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;
