.contrasted {
  background-color: $black-light;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -4px;
  padding: rem-calc(0 20);
}

h2 {
  font-style: italic;
  color: $secondary-color;
  letter-spacing: -2px;
}
