---
title: À propos
page_title: Message à l'attention du directeur du musée du Louvre
page_subtitle: Expositions en cours et à venir
---

h2 AÄ

HENRI LOYRETTE, Président-directeur du musée du Louvre
DANIEL PERCHERON, Président de la Région Nord-Pas de Calais

Xavier Dectot, Directeur
Luc Herchin


Orange Business Service - IT&L@bs, créateur de solutions et de services

Bonjour messieurs,

J'aimerais bien vous dire que je trouve votre site génial et qu'il respecte

http://davidl.fr/webdesign.html
