---
title: "Calendrier des évènements"
page_title: Agenda
page_subtitle: Expositions en cours et à venir
---

.row
  .medium-12.columns
    h2 Expositions en cours
    ul.large-block-grid-3.medium-block-grid-2
      li
        = image_tag 'http://www.louvrelens.fr/documents/10181/99347/poussin-voir-le-sacr%C3%A9_292.jpg/72fb3137-687d-4303-b507-b0fd55bcc587?t=1380092169689&type=jpg'
        p
          'Du 4 décembre 2013 au 21 avril 2014
          br
          'Voir le sacré...
          br
          'Six oeuvres, trois thèmes
      li
        = image_tag 'http://www.louvrelens.fr/documents/10181/434974/Oedipe+Ingres_292.jpg/5761bf49-327a-4312-a7b4-7f94b243f182?t=1385731182000&type=jpg'
        p
          'Jusqu'à fin 2017
          br
          'La galerie du temps
          br
          'Un parcours inédit à travers l'histoire du temps
hr
.row
  .medium-12.columns
    h2 Expositions à venir
    ul.large-block-grid-3.medium-block-grid-2
      li
        = image_tag 'http://www.louvrelens.fr/documents/10181/72164/L%27oubli%C3%A9_292.jpg/19b7d67d-7247-49ae-9c6b-60fc0923c44c?t=1376922473000&type=jpg'
        p
          'Du 28 mai au 6 octobre 2014
          br
          'Les Désastres de la guerre. 1800-2014




= partial 'views/global/categories'
