---
title: Accueil
---

.row
  .medium-12.columns

    h1 Le louvre autrement

    ul.large-block-grid-4.medium-block-grid-2 data-equalizer=""
      - data.categories.each_with_index do |category|
        li
          = link_to category.url do
            .panel data-equalizer-watch=""
              i class="fa #{category.icon}"
              h2.l-title
                = category.title
              p.l-description
                = category.description
