---
title: "Librairie-boutique, restauration"
page_title: Boutiques
page_subtitle: Librairie, restaurant & cafétéria
---

.row data-equalizer=""
  .medium-4.columns
    .panel data-equalizer-watch=""
      h2 Librairie-boutique
      p
        'La librairie-boutique (située dans le hall d'accueil) est gérée par La boutique du Lieu et ouverte aux mêmes horaires que le musée.
      p
        'Renseignements : 03 21 49 12 01

  .medium-4.columns
    .panel data-equalizer-watch=""
      h2 Restaurant
      p
        'Le restaurant situé dans le parc du Louvre-Lens a été confié au chef Marc Meurin, dont l'établissement Le château de Beaulieu (Busnes, Pas-de-Calais) possède 2 étoiles au Guide Michelin.
      p
        'Téléphone : 03 21 18 24 90

  .medium-4.columns
    .panel data-equalizer-watch=""
      h2 Cafétéria
      p Une cafétéria et des espaces pique-nique permettent de se restaurer sur place. Ouverture de 10h00 à 18h00.
      ul
        li Cafétéria : 95 places
        li Terrasse : 130 places
        li Espace de pique-nique : 80 places

.row
  .medium-10.medium-centered.columns
    h2 L’atelier de Marc Meurin
    h3 Un restaurant dans le parc

.row
  .medium-12.columns
    =image_tag 'http://www.louvrelens.fr/documents/10181/56427/MarcMeurin1000.jpg'

.row
  .medium-10.medium-centered.columns
    blockquote L'Atelier Marc Meurin... C'est le nom choisi pour le restaurant du Louvre-Lens
    p Référence à l'artisanat, aux beaux-arts, à la photo, au monde agricole, à la mine ? Peut-être tout cela à la fois. Un lieu à côté de l'ancien puits n°9 où s'élaborent, avec rigueur et passion, des mets raffinés. Plaisir des yeux, avec des assiettes aux formes et aux couleurs élaborées. Découvertes olfactives et gustatives, bien sûr. Jeux étonnants sur les textures parfois, voire sur les sons…
    p L'art culinaire, en somme, à la portée du plus grand nombre : la formule entrée, plat et dessert est à environ 30€.

    p Le restaurant est ouvert 7 jours sur 7 midi et soir pendant 1 an avec option d'ouverture le dimanche soir selon les demandes de réservation (sinon fermeture).
    p Téléphone : 03 21 18 24 90

    p
      = link_to 'www.atelierdemarcmeurin.fr', 'http://www.atelierdemarcmeurin.fr'

= partial 'views/global/categories'
